/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/* global color settings */
:root {
  --primary-color: #333333; /* dark grey */
  --font-color: #333333; /* dark grey */
  --primary-color-darker: #000000; /* black */
  --primary-color-lighter: #666666; /* lighter grey */
  --secondary-color: #FF9900; /* orange */
  --base-color: #F5F5F5; /* almost white */
  width: 100%;
  padding: 20px;
}
/* global body settings */
body {
  background-color: var(--base-color);
  color: var(--font-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* used for main header section */
.page-header {
  display: flex;
  /*position: fixed;
  text-align: right;
  top: 0;
  width: 100%;*/
}
.page-header__item {
	flex: 0 1 200px;
}
.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}
/* main header section end */
/* used for text links in the content section and footer */
.link {
  color: var(--font-color);
  text-decoration: none;
}
/* content section and footer end */
/* used for text links in the grid-boxes on work.htlm */
.link-visible {
  color: var(--secondary-color);
  text-decoration: none;
}
/* links for grid-boxes on work.htlm end */
/* used for main navigation section within header */
.navigation-list {
  text-decoration: none;
  list-style-type: none;
}
.navigation-list li {
  text-decoration: none;
  display: inline-block;
  margin-left: 15px;
}
.navigation-list__item {
  color: var(--font-color);
  text-decoration: none;
}
.navigation-list__item--active {
  color: var(--secondary-color);
  text-decoration: none;
}

/* used for general page content */
.page-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.profile {
	max-width: 700px;
	margin: 0 auto;
  padding: 20px;
}
.profile__portrait { 
  float: left;
  display: grid; /* add css according to grid */
	width: 200px;
	margin-right: 40px;
  padding: 35px;
  border-radius: 50%;
  grid-template-columns: 1fr 1fr; /* add css according to grid */
}
@mixin pagecontent() {
  display: flex;
  text-align: center;
}
.page-content {
  @include pagecontent();
	display: -webkit-box;
	display: -ms-flexbox;
  clear: both;
	padding: 20px;
}
/* general page content end */
/* used for the scrollabel document section on skills.html */
.page-content__item-document {
  display: flex;
  text-align: center;
  max-width: 375px;
	max-height: 667px;
	margin: 10px;
}
/* scrollabel document section end */
/* centered content class used for the project including click-dummy an button on projects.html */
.page-content-centered {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px;
}
/* centered content class end */
/* Used for the skill tabel on skills.html */
.content-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #CCCCCC;
}
th, td {
  text-align: left;
  padding: 10px;
}
/* skill tabel end */
.page-content__item {
  @include pagecontent();
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
	margin: 10px;
}
.page-content__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
	text-align: center;
}
/* used for contact form on contact.html */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 10px;
  border: 1px solid #CCCCCC; /* input fields gray border */
  border-radius: 4px;
  box-sizing: border-box; /* padding and width stay in place */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* textarea resizes vertically depending on amount of text */
}

/* background color and padding around the form */
.container {
  border-radius: 5px;
  background-color: #F5F5F5;
  padding: 20px;
}
/* Responsive three row grid */
.img {
  max-width: 100%;
  height: auto;
}
.grid__item {
  background-color: var(--base-color);
  padding: 10px;
  text-align: justify;
  display: block;
  max-width: 90%;
}
.grid {
  display: grid;                      /* fr instead of pixels make the 3-column-grid flexible*/
  grid-template-columns: 1fr 1fr 1fr; /* adds a 3-Column grid for maximum divice-width*/
  grid-gap: 10px;
}
@media all and (max-width:750px){ /* applying the 3-grid for all devices with a 750-width from 1st .grid statement*/
  .grid__item:last-child {    
    grid-column: auto / auto; 
    grid-row: auto / auto;    
  }                           
  h1 {                        
    font-size: 22px;          
  }                           
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr; /*change grid to 2-columns for devices between 500- and 750-width */
  }
}
/* @media means "at devices" and comes at the end of all responsive classes to overwrite them */
@media all and (max-width: 500px){
  .grid {
    grid-template-columns: 1fr; /*change grid to 2-columns for devices smaller than 500-width */
  }
}

@mixin subtitles() {
  font-weight: 700;
}
h2 {
  @include subtitles();
  font-size: 20px;
}
h3 {
  @include subtitles();
  font-size: 18px;
}
/*reset font family for buttons*/
input, texture, select, button {
font-family: system-ui;
text-align: center;
white-space: nowrap; /* aviod the button to line break */
}

/* flex-container used for the two buttons on index.html */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #F5F5F5;
}
.flex-container > div {
  background-color: #F5F5F5;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
}

/* general button styling */
/* styling submit button contact form */
button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap; /* aviod the button to line break */
}

/* added at Task 1.5, necessary for hover-opacy of the buttons */
button:hover, button:focus {
cursor: pointer; /* lets the mouse appear as a hand when hovering over the button */
opacity: 0.8; /* reduces the opacity of the button to 80% on hovering */
white-space: nowrap; /* aviod the button to line break */
}

.button {
  border: #FF9900 1px solid;
  font-family: inherit;
  font-size: adjust;
  background-color: #FF9900;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border-bottom: none;
  transition: 0.2s opacity;
  white-space: nowrap; /* aviod the button to line break */
}

.button__secondary {
  border: #FF9900 1px solid;
  background-color:rgba(255,255,255,0.2);
  color: #FF9900;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s opacity;
  white-space: nowrap; /* aviod the button to line break */
}

/* skill success bars */
* {box-sizing: border-box}

.success-bars {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
}

.req {width: 95%; background-color: #4184F2;}
.scrum {width: 85%; background-color: #D94436;}
.popd {width: 80%; background-color: #F4B302;}
.uxde {width: 65%; background-color: #0E9D59;}
.code {width: 40%; background-color: #AA46BA;}

/* used for main footer section */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px;
}

.bibliography {
  font-size: 12px;
}
/* footer section end */
